.well{
  font-size: 1.3em;
}

.landing-panel{
  font-size: 1.3em;
  line-height: 150%;
  text-align: left;
}

.landing-panel h1{
  text-align: center;
  font-size: 1.5em;
  align: center;
}

.tagged{
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  color:#f0f0f0;
  background-color: #f000f0;
  cursor:default;
  display:inline-block;
  font-weight:300;
  letter-spacing:.2px;
  line-height:1;
  padding:4px 6px;
  top:0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pocket{
  color:#f0f0f0;
  background-color: #ee4055;
}

#soundcloud{
  color:#ffffff;
  background-color: #ff3900;
}

#telegram{
  color:#ffffff;
  background-color: #31a6e5;
}

#proprietary{
  color:#eeeeee;
  background-color: #333333;
}
